/* CSS 초기화 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboto', 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

/* 공용 CSS */

:root {
  --bgcolor: linear-gradient(250deg, #808bf7 0%, #5049e5 100%);
  --main-color: #5049e5;
}

/* Todo CSS */
#todo {
  width: 100%;
  height: 100vh;
  background: var(--bgcolor);
}

.todo_wrap {
  height: 100%;
  padding-top: 150px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}

.todo_textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  width: 55%;
}

.todo_title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 50px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.todo_hi {
  display: block;
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 15px;
  letter-spacing: 5px;
}

.todo_subtitle {
  font-size: 20px;
  margin-bottom: 50px;
}

.todo_desc {
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.todo_contents {
  width: 45%;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  height: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.06);
  padding: 80px 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.content_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.content_header > h2 {
  font-size: 30px;
  color: #333;
  letter-spacing: 1px;
}

.content_header > p {
  font-size: 14px;
  color: #555;
}

.add_todo {
  width: 100%;
  position: relative;
  margin-top: 30px;
}

#addlist {
  width: 100%;
  height: 50px;
  padding: 0 30px;
  border-radius: 30px;
  border: 1px solid #e3e3e3;
  font-size: 14px;
}

.addBtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 0 30px 30px 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.todos {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.todos::-webkit-scrollbar {
  display: none;
}

.todo_days {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.day {
  text-align: center;
  font-size: 16px;
  color: #999;
  padding: 0 20px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #f1f1f1;
}

.todoLists {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todoLists li {
  display: flex;
  align-items: center;
  height: 55px;
  border-radius: 30px;
  border: 1px solid #e3e3e3;
  position: relative;
}

.check_btn {
  width: 100%;
  cursor: pointer;
  height: 100%;
  padding: 0 50px;
  text-align: left;
}

.chek_shape,
.delete_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.chek_shape {
  left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
}

.delete_btn {
  right: 25px;
  cursor: pointer;
  z-index: 2;
  padding: 5px;
}
